* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial;
  line-height: 1.5;
}

/*Header paragraph*/
.main-header {
  width: 100%;
  padding: 15px 30px 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.logo {
  width: 100%;
}
.header-img {
  float: right;
}

/*Header Section*/
.main-section {
  width: 100%;

  background-image: url("https://cdn2.hubspot.net/hubfs/2500081/Lander/Banner.jpg");
  background-size: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.section-container {
  padding: 100px 30px;
  background-color: rgba(0, 0, 0, 0.6);
}
.section-footer {
  padding: 20px;
  font-size: 16px;
  color: white;
  background: rgba(0, 0, 0, 0.6);
  opacity: 0.9;
}
.section-paragraph h1 {
  padding-bottom: 15px;
  color: white;
  font-size: 45px;
  line-height: 1.2;
}
.section-paragraph p {
  color: white;
  font-size: 20px;
  padding-bottom: 15px;
  color: rgb(245,245,245);
  opacity: 0.9;
}
.footer-input {
  padding: 0px 20px 0px;
}
.footer-input p {
  line-height: 1.6;
  font-size: 18px;
}
.input-elements {
  display: flex;
  flex-direction: column;
  padding: 10px 0px 0px;
  line-height: 1.5;
}
.input-elements input[type='text'],
.input-elements input[type='email'] {
  height: 50px;
  margin: 10px 0px 0px;
  padding: 0px 10px;
  font-size: 15px;
}
.input-btn {
  height: 50px;
  margin: 10px 0px 0px;
  background-color: #e24548;
  color: white;
}
/*Middle section*/
.middle-section {
  width: 100%;
  padding: 100px 30px;
}
.middle-section h1 {
  padding: 20px 0px 15px;
  font-weight: 600;
}
.middle-section p {
  padding-bottom: 15px;
  font-size: 16px;
  line-height: 1.7;
}
.middle-img {
  width: 70%;
}
.iphone {
  width: 100%;
  padding: 10px 0px;
}
/*Engagement section*/
.engagement-section {
  width: 100%;
  padding: 120px 30px;
  background: #fcfaf8;
  text-align: center;
}
.engagement-section h1 {
  font-size: 20px;
  padding-top: 10px;
}
.engagement-section p {
  padding: 10px 0px;
  line-height: 1.6;
}
.engagement-pic1 {
  width: 100%;
}
.engagement-pic2 {
  width: 100%;
}
.engagement-pic3 {
  width: 100%;
  border: 0px;
  border-width: 0px;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.26);
}
/*Footer section*/
.footer {
  width: 100%;
  padding: 100px 0px;
  background: #e24548;
  text-align: center;
}
.footer-img {
  width: 60%;
}
.company-credentials {
  width: 100%;
  padding: 50px 0px;
  text-align: center;
}

/*Popup Chat*/

.open-chat{
  height: 60px;
  width: 60px;
  position: fixed;
  bottom: 0;
  right: 15px;

  border: 3px solid #f1f1f1;
  border-radius: 50%;

  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQiAIeUvzCeCYyg1lTaRSbS7YgXpGXQk9cOAQ&usqp=CAU");
  background-size: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.close-chat {
  position: relative;
  bottom: -25px;
  height: 16px;
  width: 16px;
  background: none;
  opacity: 0.7;
  border: none;
}
.chat-popup {
  display: none;
  position: fixed;
  bottom: 0px;
  background-color: white;
}
.widget-line {
  position: absolute;
  height: 8px;
  width: 100%;
  background-color: rgb(33, 197, 217);
}
.chat-container {
  padding: 10px;
  font-size: 14px;
}
.chat-support {
  display: flex;
  position: relative;
  bottom: 20px;
  justify-content: space-between;
  color: #687882;
}
.form-img {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  position: relative;
  bottom: 15px;
  background: rgb(33, 197, 217);
}
.chat-support p {
  position: relative;
  top: 30px;
  left: -110px;
  font-size: 12px;
  margin-bottom: 10px;
}
.chat-footer textarea {
    margin: 10px 0px;
    padding: 0px 10px;
    font-size: 14px;
    width: 100%;
    border: 1px solid lightgray;
    border-radius: 5px;
}
.chat-paragraph {
  position: relative;
  bottom: 15px;
  color: #414141;
}
.bottom-line {
  position: relative;
  text-align: center;
  color: #687882;
}
