/* 
  Make sizes similar to layout sizes (for mobile, tablet, desktop)
  Leave percentage for images

  - 770px is a change point (not 960px)

  https://chrome.google.com/webstore/detail/edge-the-web-ruler/njlkegdphefeellhaongiopcfgcinikh
*/
@font-face {
  font-family: 'Rbt';
  src: url('Rbt.woff') format('woff');
}
@font-face {
  font-family: 'Roboto';
  src: url('Roboto-Black-webfont.woff') format('woff');
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', Helvetica, Sans-serif;
  font-size: 16px;
  line-height: 1.6;
}
/*Header paragraph*/

.main-header {
  display: flex;
  width: 100%;
  padding: 15px 30px 8px;
}

.logo {
  width: 100%;
}

.header-button {
  position: relative;
  bottom: 6px;
  height: 64px;
  width: 214px;
  padding: 20px 40px;
  float: right;
  font-size: 16px;
  font-family: sans-serif;
  font-weight: bold;
  color: rgb(255, 255, 255);
  background: rgb(226, 69, 72);
  border-width: 0px;
  border-radius: 35px;
}

/*Header Section*/

.main-section {
  width: 100%;
  background-image: url("https://cdn2.hubspot.net/hubfs/2500081/Lander/Banner.jpg");
  background-size: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.section-container {
  padding: 120px 30px;
  background-color: rgba(0, 0, 0, 0.6);
}

.section-footer {
  padding: 30px 40px;
  font-size: 17.5px;
  line-height: 28px;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  font-family: Helvetica;
}

.first-segment p {
  padding-top: 10px;
}

.second-segment p {
  padding-top: 10px;
}

.section-paragraph h1 {
  margin: 10px 0px;
  font-size: 50px;
  line-height: 1.2;
  color: rgb(255, 255, 255);
}

.section-paragraph p {
  margin: 15px 0px;
  font-size: 20px;
  font-family: Helvetica;
  color: rgb(255, 255, 255);
}

.footer-container {
  padding: 0px 20px 0px;
}

.footer-input p {
  font-size: 18px;
}

.input-elements {
  display: flex;
  flex-direction: column;
  padding: 10px 0px 0px;
  line-height: 1.5;
}

.input-elements input[type='text'], .input-elements input[type='email'] {
  height: 50px;
  margin: 0px 0px 15px;
  padding: 0px 10px;
  font-size: 15px;
}

.input-btn {
  height: 50px;
  font-size: 16px;
  background-color: #e24548;
  color: white;
}

/*******************************  Middle section  *************************/

.middle-section {
  padding: 120px 30px;
  font-family: Helvetica;
}

.middle-section h2 {
  margin: 11px 0px;
  font-size: 24px;
  line-height: 38px;
}
.middle-section-btn{
  margin: 16px 0px;
  height: 64px;
  width: 214px;
  font-size: 16px;
  font-weight: bold;
  color: rgb(255, 255, 255);
  background: rgb(226, 69, 72);
  border-width: 0px;
  border-radius: 35px;
}
.middle-section p {
  margin: 11px 0px;
  line-height: 25px;
}
.iphone {
  width: 100%;
}

/******************************* Engagement section *********************************/

.engagement-section {
  width: 100%;
  padding: 120px 30px;
  background: #fcfaf8;
  text-align: center;
  font-family: Helvetica;
}

.engagement-section h3 {
  margin: 11px 0px;
  font-size: 21px;
  line-height: 30px;
}
.engagement-section h4 {
  margin: 11px 0px;
  font-size: 20px;
  line-height: 30px;
}
.engagement-section h5 {
  margin: 11px 0px;
  font-size: 21px;
  line-height: 30px;
}

.engagement-section p {
  margin: 11px 0px;
}

.engagement-pic1 {
  width: 100%;
}

.engagement-pic2 {
  width: 100%;
}

.engagement-pic3 {
  width: 100%;
  border: 0px;
  border-width: 0px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}

.footer-button{
  justify-content: center;
  height: 64px;
  width: 214px;
  font-size: 16px;
  font-weight: bold;
  background: rgb(255, 255, 255);
  color: rgb(226, 69, 72);
  border-width: 0px;
  border-radius: 35px;
}
/******************************* Footer section ************************************/

.footer {
  width: 100%;
  padding: 100px 0px;
  background: #e24548;
  text-align: center;
}

.company-credentials {
  width: 100%;
  padding: 50px 0px;
  text-align: center;
  font-family: Helvetica;
}

/*Popup Chat*/

.open-chat {
  position: fixed;
  height: 56px;
  width: 56px;
  right: 25px;
  bottom: 30px;
  border: none;
  border-radius: 50%;
  background: rgb(33, 197, 217);
}

.close-chat {
  position: relative;
  bottom: -25px;
  height: 16px;
  width: 16px;
  background: none;
  opacity: 0.7;
  border: none;
}

.chat-popup {
  display: none;
  position: fixed;
  bottom: 0px;
  background-color: white;
}

.widget-line {
  position: absolute;
  height: 8px;
  width: 100%;
  background-color: rgb(33, 197, 217);
}

.chat-container {
  padding: 0px 16px 0px;
  font-size: 14px;
  line-height: 21px;
  font-family: Helvetica;
}

.chat-support {
  display: flex;
  position: relative;
  bottom: 20px;
  justify-content: space-between;
  color: #687882;
}

.form-img {
  position: relative;
  bottom: 5px;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  background: rgb(33, 197, 217);
}

.chat-support p {
  position: relative;
  top: 30px;
  left: -110px;
  margin-bottom: 10px;
  font-size: 12px;
}

.chat-footer textarea {
  width: 100%;
  height: 40px;
  margin: 5px 0px 3px;
  padding: 10px 10px;
  font-size: 16px;
  border: 1px solid rgb(157, 169, 176);
  border-radius: 6px;
  line-height: 20px;
}

.chat-paragraph {
  position: relative;
  bottom: 15px;
  color: #414141;
}

.bottom-line {
  padding: 10px;
  position: relative;
  text-align: center;
  color: #687882;
  font-size: 12px;
  line-height: 16px;
}
.chat-smile {
  position: absolute;
  right: 30px;
  bottom: 53px;
  background-color: Transparent;
  background-repeat:no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
}

@media only all and (min-width: 768px) and (max-width: 1279px) {
  .logo {
    width: 23%;
  }
  .main-header {
    display: flex;
    padding: 15px 30px 15px;
}
  .header-button {
    position: unset;
    height: 88px;
    width: 162px;
    margin-left: 20px;
    font-weight: 700;
    text-align: center;
    font-family: sans-serif;
    padding: 20px 40px;
    line-height: 24px;
  }
  .section-container {
    display: flex;
  }
  .section-paragraph h1 {
    line-height: 60px;
    margin: 11px 0px;
    font-family: Helvetica;
  }
  .section-paragraph p {
    margin: 11px 0px;
    height: 288px;
    font-family: 'Rbt';
    font-size: 24px;
    line-height: 32px;
  }
  .section-footer {
    height: 475px;
    width: 284px;
    margin-left: 140px;
  }
  .first-segment {
    display: flex;
  }
  .first-segment img {
    height: 29px;
    width: 29px;
  }
  .first-segment p {
    margin-left: 20px;
    padding: 0px;
    font-size: 17px;
  }
  .second-segment {
    display: flex;
  }
  .second-segment img {
    height: 29px;
    width: 29px;
  }
  .second-segment p {
    margin-left: 20px;
    padding: 0px;
  }
  .footer-container img {
    height: 30px;
    width: 30px;
    margin-right: 20px;
  }
  .footer-container p {
    width: 70%;
    line-height: 1.6;
    font-size: 18px;
  }

/*******************************  Middle section  *************************/
  .middle-section h2 {
    width: 223px;
  }
  .middle-section p {
    width: 223px;
  }
  .middle-img {
    width: 90%;
  }
  .iphone {
    position: relative;
    float: right;
    bottom: 200px;
    width: 404px;
  }
  .engagement-section {
    padding: 120px 20px;
  }
  .engagement-container {
    display: flex;
  }
  .engagement-container div {
    margin: 0px 10px;
  }
  .footer-img {
    width: 30%;
  }
  /* Chat-widget */
  .chat-popup {
    position: fixed;
    left: 400px;
    bottom: 100px;
    width: 45%;
    border-radius: 5px;
  }
  .chat-paragraph {
    position: relative;
    bottom: 15px;
    padding: 0px 10px;
    font-size: 14px;
    color: #414141;
    opacity: 0.9;
  }
  .chat-footer textarea {
    display: flex;
    padding: 10px 10px 0px;
    height: 40px;
    margin-bottom: 10px;
    line-height: inherit;
    border: 1px solid lightgray;
    border-radius: 5px;
  }
  .chat-smile {
    position: absolute;
    right: 30px;
    bottom: 55px;
    background-color: Transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
  }
  .widget-line {
    border-radius: 5px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
  }
  .chat-support p {
    left: -90px;
    margin: 0px;
  }
}

/*******************************  Full screen  *************************/

@media only all and (min-width: 1280px) {
  .main-header {
    display: block;
    padding: 15px 111px;
  }
  .logo {
    width: 240px;
    height: 60px;
  }
  .header-button {
    margin-top: 7px;
  }
  .section-container {
    display: flex;
    padding: 120px 111px;
  }
  .section-paragraph {
    width: 50%;
  }
  .section-paragraph h1 {
    width: 418px;
  }
  .section-paragraph p {
    width: 418px;
  }
  .section-footer {
    width: 418px;
    height: 382px;
    margin-left: 100px;
  }
  .footer-container {
    font-size: 18px;
  }
  .first-segment {
    display: flex;
    margin-bottom: 10px;
  }
  .first-segment p {
    padding: 0px;
    font-size: 17px;
  }
  .first-segment img {
    height: 49px;
    width: 49px;
    margin-right: 37px;
  }
  .second-segment {
    display: flex;
    margin-bottom: 10px;
  }
  .second-segment p {
    padding: 0px;
    font-size: 17px;
  }
  .second-segment img {
    height: 49px;
    width: 49px;
    margin-right: 37px;
  }
  .input-elements input[type='text'], .input-elements input[type='email'] {
    font-size: 18px;
    font-family: 'Rbt';
  }


  .middle-section {
    width: 50%;
    height: 600px;
    padding: 120px 0px 0px 111px;
  }
  .middle-section h2 {
    width: 328px;
    font-size: 24px;
    font-weight: 700;
    line-height: 38px;
  }
  .middle-section p {
    width: 328px;
  }
  .middle-images {
    height: 150px;
  }
  .middle-img {
    width: 40%;
  }
  .iphone {
    position: relative;
    bottom: 270px;
    left: 440px;
    width: 580px;
  }
  .engagement-section {
    padding: 120px 100px;
  }
  .engagement-container {
    display: flex;
  }
  .engagement-container div {
    margin: 0px 13px;
  }
  .footer-img {
    width: 15%;
  }
  /* Chat-widget */
  .chat-popup {
    left: 890px;
    bottom: 105px;
    width: 352px;
    border-radius: 5px;
  }
  .chat-paragraph {
    bottom: 15px;
    padding: 0px 10px;
    font-size: 14px;
  }
  .chat-support p {
    left: -90px;
    margin: 0px;
  }
  .chat-footer textarea {
    display: flex;
    padding: 10px 10px 0px;
    height: 40px;
  }
  .widget-line {
    border-radius: 5px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
  }
  .bottom-line {
    font-size: 12px;
  }
  .chat-smile {
    position: absolute;
    right: 30px;
    bottom: 48px;
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
  }
}